/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer{
	float:left;
	width:100%;
	/*background:#212121;*/
	background: #696A6E;
	/*background: #4c4c4c;*/
	color:#fff;
	margin:0;
	padding:40px 0 0 0;
	box-sizing:border-box;
    border-bottom: 1px solid #eee;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.8);

	@media (max-width: 768px) {
		padding:18px 0 0 0;
	  }

    .verybottom {
	padding:30px 0 10px 0;
}

/* footer social icons */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoYoutube:hover {
	background-color: #FF0000;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
	background-color:#E93C5B;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoInstagram:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
/*
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}*/
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* Align center */	
.aligncenter{
	margin:0 auto;
	text-align:center;
}	

.aligncenter i {
	text-align:center;
}

.aligncenter {
	margin-bottom:50px;
}

}
