/// Default color variables

/*$accent-color: #03C4EB;*/
/*$accent-color: #92DD03;*/
/*$accent-color: #03B5C4;*/
/*$accent-color: #3EBCB7;*/
$accent-color: #FF8600;
/*$accent-color: #027873;*/
$verde-claro: #9DD244;
$verde-oscuro: #277249;
$heading-color: #333333;
$text-color: #666666;
$orange: #FFC04D;
$gris-claro: #CECECE;
$gris-oscuro: #696A6E;

/*$accent-color: #059b91;*/

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
/*$heading-font: 'Raleway', sans-serif;*/
$heading-font: 'Ubuntu', sans-serif;
$text-font: 'Open Sans', sans-serif;
$font-size-h: 36px;
